In [182]:
import pandas as pd

In [183]:
df=pd.read_csv("espn.csv")
print(df)
print(f"{df.shape[0]} rows and {df.shape[1]} columns")

                        Player       Span  Mat  Inns  NO  Runs    HS    Ave  \
0             DG Bradman (AUS)  1928-1948   52    80  10  6996   334  99.94
1             PHKD Mendis (SL)  2022-2025   14    24   3  1316  182*  62.66
2               AC Voges (AUS)  2015-2016   20    31   7  1485  269*  61.87
3              RG Pollock (SA)  1963-1970   23    41   4  2256   274  60.97
4              GA Headley (WI)  1930-1954   22    40   4  2190  270*  60.83
..                         ...        ...  ...   ...  ..   ...   ...    ...
57           GC Smith (ICC/SA)  2002-2014  117   205  13  9265   277  48.25
58           WH Ponsford (AUS)  1924-1934   29    48   4  2122   266  48.22
59             SJ McCabe (AUS)  1930-1938   39    62   5  2748   232  48.21
60  Hashmatullah Shahidi (AFG)  2018-2025   11    21   5   771   246  48.18
61            DR Jardine (ENG)  1928-1934   22    33   6  1296   127  48.00

       BF     SR  100  50     0    4s  6s
0   9800+  58.60   29  13   7.0  626+   6
1    2063  63.79    5   5   NaN   137  24
2    2667  55.68    5   4   2.0   186   5
3   1707+  54.48    7  11   1.0  246+  11
4    416+  56.00   10   5   2.0  104+   1
..    ...    ...  ...  ..   ...   ...  ..
57  15525  59.67   27  38  11.0  1165  24
58  3118+  44.77    7   6   1.0  119+   0
59  3217+  60.02    6  13   4.0  241+  5+
60   1629  47.32    2   2   NaN    87   1
61  2110+  25.59    1  10   2.0   53+   0

[62 rows x 15 columns]
62 rows and 15 columns

In [184]:
df.columns=df.columns.str.strip()
print(df.columns.to_list())

['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '0', '4s', '6s']

In [185]:
df=df.rename(columns={"NO":"Not_Out","HS":"Highest_Score","BF":"Balls_Faced","SR":"Strike_Rate"})
print(df.head())

             Player       Span Mat  Inns  Not_Out  Runs Highest_Score    Ave  \
0  DG Bradman (AUS)  1928-1948  52    80       10  6996           334  99.94
1  PHKD Mendis (SL)  2022-2025  14    24        3  1316          182*  62.66
2    AC Voges (AUS)  2015-2016  20    31        7  1485          269*  61.87
3   RG Pollock (SA)  1963-1970  23    41        4  2256           274  60.97
4   GA Headley (WI)  1930-1954  22    40        4  2190          270*  60.83

  Balls_Faced  Strike_Rate  100  50    0    4s  6s
0       9800+        58.60   29  13  7.0  626+   6
1        2063        63.79    5   5  NaN   137  24
2        2667        55.68    5   4  2.0   186   5
3       1707+        54.48    7  11  1.0  246+  11
4        416+        56.00   10   5  2.0  104+   1

In [186]:
#check null values
df.isnull().any()

Player           False
Span             False
Mat              False
Inns             False
Not_Out          False
Runs             False
Highest_Score    False
Ave              False
Balls_Faced       True
Strike_Rate       True
100              False
50               False
0                 True
4s               False
6s               False
dtype: bool

In [187]:
df[df["Balls_Faced"].isna()==True]

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6.0,258+,2
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1.0,107+,11
53,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3.0,51+,0

In [188]:
df[df["Strike_Rate"].isna()==True]

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6.0,258+,2
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1.0,107+,11
53,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3.0,51+,0

In [189]:
df[df["0"].isna()==1]

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
60,Hashmatullah Shahidi (AFG),2018-2025,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1

In [190]:
df["Balls_Faced"]=df["Balls_Faced"].fillna(0)
df["Strike_Rate"]=df["Strike_Rate"].fillna(0)
df["0"]=df["0"].fillna(0)
df.isnull().any()

Player           False
Span             False
Mat              False
Inns             False
Not_Out          False
Runs             False
Highest_Score    False
Ave              False
Balls_Faced      False
Strike_Rate      False
100              False
50               False
0                False
4s               False
6s               False
dtype: bool

In [191]:
df[df["Player"]=="ED Weekes (WI)"]
df[df["Player"].isin(["Hashmatullah Shahidi (AFG)","GA Headley (WI)"])]

,Player,Span,Mat,Inns,Not_Out,Runs,Highest_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1
60,Hashmatullah Shahidi (AFG),2018-2025,11,21,5,771,246,48.18,1629,47.32,2,2,0.0,87,1

In [192]:
#can be used to drop duplicates
df[df["Player"].duplicated()==1]
df=df.drop_duplicates()

In [193]:
#Split span into start and end date
df["Debut_Year"]=df["Span"].str.split('-').str[0]
df["Retirement_Year"]=df["Span"].str.split('-').str[1]
df.drop("Span",axis=1,inplace=True)
print(df)

                        Player  Mat  Inns  Not_Out  Runs Highest_Score    Ave  \
0             DG Bradman (AUS)   52    80       10  6996           334  99.94
1             PHKD Mendis (SL)   14    24        3  1316          182*  62.66
2               AC Voges (AUS)   20    31        7  1485          269*  61.87
3              RG Pollock (SA)   23    41        4  2256           274  60.97
4              GA Headley (WI)   22    40        4  2190          270*  60.83
..                         ...  ...   ...      ...   ...           ...    ...
57           GC Smith (ICC/SA)  117   205       13  9265           277  48.25
58           WH Ponsford (AUS)   29    48        4  2122           266  48.22
59             SJ McCabe (AUS)   39    62        5  2748           232  48.21
60  Hashmatullah Shahidi (AFG)   11    21        5   771           246  48.18
61            DR Jardine (ENG)   22    33        6  1296           127  48.00

   Balls_Faced  Strike_Rate  100  50     0    4s  6s Debut_Year  \
0        9800+        58.60   29  13   7.0  626+   6       1928
1         2063        63.79    5   5   0.0   137  24       2022
2         2667        55.68    5   4   2.0   186   5       2015
3        1707+        54.48    7  11   1.0  246+  11       1963
4         416+        56.00   10   5   2.0  104+   1       1930
..         ...          ...  ...  ..   ...   ...  ..        ...
57       15525        59.67   27  38  11.0  1165  24       2002
58       3118+        44.77    7   6   1.0  119+   0       1924
59       3217+        60.02    6  13   4.0  241+  5+       1930
60        1629        47.32    2   2   0.0    87   1       2018
61       2110+        25.59    1  10   2.0   53+   0       1928

   Retirement_Year
0             1948
1             2025
2             2016
3             1970
4             1954
..             ...
57            2014
58            1934
59            1938
60            2025
61            1934

[62 rows x 16 columns]

In [195]:
#Split into player and country name
df["Country"]=df["Player"].astype(str).str.split(r"\(").str[1]
df["Country"]=df["Country"].astype(str).str.split(r"\)").str[0]
df.head()

,Player,Mat,Inns,Not_Out,Runs,Highest_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Debut_Year,Retirement_Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,0.0,137,24,2022,2025,SL
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI

In [196]:
df["Player"] = df["Player"].astype(str).str.split(r"\(").str[0]
print(df)

                   Player  Mat  Inns  Not_Out  Runs Highest_Score    Ave  \
0             DG Bradman    52    80       10  6996           334  99.94
1            PHKD Mendis    14    24        3  1316          182*  62.66
2               AC Voges    20    31        7  1485          269*  61.87
3             RG Pollock    23    41        4  2256           274  60.97
4             GA Headley    22    40        4  2190          270*  60.83
..                    ...  ...   ...      ...   ...           ...    ...
57              GC Smith   117   205       13  9265           277  48.25
58           WH Ponsford    29    48        4  2122           266  48.22
59             SJ McCabe    39    62        5  2748           232  48.21
60  Hashmatullah Shahidi    11    21        5   771           246  48.18
61            DR Jardine    22    33        6  1296           127  48.00

   Balls_Faced  Strike_Rate  100  50     0    4s  6s Debut_Year  \
0        9800+        58.60   29  13   7.0  626+   6       1928
1         2063        63.79    5   5   0.0   137  24       2022
2         2667        55.68    5   4   2.0   186   5       2015
3        1707+        54.48    7  11   1.0  246+  11       1963
4         416+        56.00   10   5   2.0  104+   1       1930
..         ...          ...  ...  ..   ...   ...  ..        ...
57       15525        59.67   27  38  11.0  1165  24       2002
58       3118+        44.77    7   6   1.0  119+   0       1924
59       3217+        60.02    6  13   4.0  241+  5+       1930
60        1629        47.32    2   2   0.0    87   1       2018
61       2110+        25.59    1  10   2.0   53+   0       1928

   Retirement_Year Country
0             1948     AUS
1             2025      SL
2             2016     AUS
3             1970      SA
4             1954      WI
..             ...     ...
57            2014  ICC/SA
58            1934     AUS
59            1938     AUS
60            2025     AFG
61            1934     ENG

[62 rows x 17 columns]

In [197]:
#change data types
df.dtypes

Player              object
Mat                 object
Inns                 int64
Not_Out              int64
Runs                 int64
Highest_Score       object
Ave                float64
Balls_Faced         object
Strike_Rate        float64
100                  int64
50                   int64
0                  float64
4s                  object
6s                  object
Debut_Year          object
Retirement_Year     object
Country             object
dtype: object

In [198]:
df["Highest_Score"]=df["Highest_Score"].str.split("*").str[0]
df.head()
df["Highest_Score"]=df["Highest_Score"].fillna(0).astype(int)
df.head()

,Player,Mat,Inns,Not_Out,Runs,Highest_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Debut_Year,Retirement_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,0.0,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI

In [200]:
df.dtypes

Player              object
Mat                 object
Inns                 int64
Not_Out              int64
Runs                 int64
Highest_Score        int64
Ave                float64
Balls_Faced         object
Strike_Rate        float64
100                  int64
50                   int64
0                  float64
4s                  object
6s                  object
Debut_Year          object
Retirement_Year     object
Country             object
dtype: object

In [201]:
df=df.astype({"Debut_Year":int,"Retirement_Year":int})

In [202]:
df["Mat"]=df["Mat"].str.split("*").str[0]
df["Mat"]=df["Mat"].fillna(0).astype(int)

In [203]:
df["Balls_Faced"] = (
    df["Balls_Faced"]
    .astype(str)
    .str.split("+")
    .str[0]
    .replace("nan", pd.NA)
)

In [204]:
df["Balls_Faced"]=df["Balls_Faced"].fillna(0).astype(int)

In [212]:
df["Career_Length"]=df["Retirement_Year"]-df["Debut_Year"]
print(df.head())
df.index=df.index+1

         Player  Mat  Inns  Not_Out  Runs  Highest_Score    Ave  Balls_Faced  \
1   DG Bradman    52    80       10  6996            334  99.94         9800
2  PHKD Mendis    14    24        3  1316            182  62.66         2063
3     AC Voges    20    31        7  1485            269  61.87         2667
4   RG Pollock    23    41        4  2256            274  60.97         1707
5   GA Headley    22    40        4  2190            270  60.83          416

   Strike_Rate  100  50    0    4s  6s  Debut_Year  Retirement_Year Country  \
1        58.60   29  13  7.0  626+   6        1928             1948     AUS
2        63.79    5   5  0.0   137  24        2022             2025      SL
3        55.68    5   4  2.0   186   5        2015             2016     AUS
4        54.48    7  11  1.0  246+  11        1963             1970      SA
5        56.00   10   5  2.0  104+   1        1930             1954      WI

   Career_Length
1             20
2              3
3              1
4              7
5             24

In [213]:
#Average career length of Cricketers
df["Career_Length"].mean()

np.float64(13.129032258064516)

In [215]:
#Avg Batting Strike Rate for cricketers who played for more than 10 years
df[df["Career_Length"]>10]["Strike_Rate"].mean()

np.float64(47.81604651162791)

In [218]:
#Count of players who played before 1960
df[df["Debut_Year"]<1960]["Player"].count()

np.int64(23)

In [220]:
#Max highest Innings score by Country
df.groupby("Country")["Highest_Score"].max().sort_values(ascending=False)

Country
ICC/WI     400
AUS        380
SL         374
WI         365
ENG        364
ICC/PAK    329
ICC/IND    319
PAK        313
SA         278
ICC/SA     277
NZ         251
IND        248
AFG        246
ZIM        232
Name: Highest_Score, dtype: int64

In [226]:
#Hundreds,fifties and ducks(0) Avg by country
df.groupby("Country")[["100","50","0"]].mean()

               100         50          0
Country
AFG       2.000000   2.000000   0.000000
AUS      21.600000  29.133333   8.933333
ENG      13.615385  21.846154   4.769231
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      24.000000  32.250000   8.750000
NZ       33.000000  38.000000  11.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       22.750000  34.250000   9.250000
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000